* {
  box-sizing: border-box;
}

.lb-caption {
  font-size: 15px;
}

.lb-number {
  margin-top: 1em;
  font-size: 12px;
}

.gallery img {
  margin: 1em auto 1em auto;
  display: block;
}

#searchbar {
  width: 12em;
  display: block;
  padding: 0.5em;
  border-radius: 0.3em;
  margin: 2em auto 1.5em auto;
  border: solid #BDC3C7 1px;
  font-size:17px;
}

::placeholder {
  color: #BDC3C7;
  font-size: 17px;
}


/** Media Queries **/

@media(min-width: 768px){

  .gallery {
    max-width: 30em;
    margin: auto;
  }

  .gallery img {
    display: inline-block;
    margin: 1em;
  }

  #searchbar {
    width: 20em;
    margin-bottom: 0.5em;
  }

} /** 768px Breakpoint Close **/

@media(min-width: 1024px){

  .gallery {
    max-width: 59em;
  }

  #searchbar {
    width: 27em;
  }

} /** 1024px Breakpoint Close **/
